nav {
    height: 5rem;
    width: 100vw;
    background: var(--accent-color);
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    filter: drop-shadow(0.1rem 0 0.4rem var(--accent-color));
}

.nav__toggle-btn {
    display: none;
}

.nav__container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo__div{
    display: flex;
}
.end__point{
    display: flex;
}
.nav__links {
    display: flex;
    gap: 3.5rem;
    align-items: center;
}

.nav__links a{
    transition: var(--transition);
}

.nav__links a:hover{
    filter: drop-shadow(0 0 0.8rem var(--accent-color));
    color: var(--color-white);
    
}

.active-nav{
    color: var(--color-white);
    position: relative;
}

.active-nav::after{
    content: "";
    display: block;
    width: 100%;
    height: 0.05rem;
    left: 0;
    right: 0;
    bottom: -0.2rem;
    background: var(--color-white);
    position: absolute;
}


@media screen and (max-width: 1024px) {
    .nav__toggle-btn{
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        cursor: pointer;
        margin-left: 1.5rem;
    }

    .nav__toggle-btn svg {
        color: var(--color-white);
    }

    .nav__links{
        position: absolute;
        top: 100%;
        right: -10%;
        left: -10%;
        flex-direction: column;
        gap: 0;
        perspective: 400px;
    }

    .active-nav {
        display: none;
    }

    .active-nav::after{
        display: none;
    }

    .nav__links li {
        height: 4rem;
        width: 100%;
        
    }
    
    .nav__links li a{
        background-color: var(--accent-color-dark);
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1rem 5rem 1rem 3rem;
    }
    .nav__links a:hover{
        color: var(--color-white);
        filter: drop-shadow(0 0 0 var(--accent-color));
        cursor: pointer;        
    }
    .show__nav{
        display: flex;
    }
    .hide__nav{
        display: none;
    }
    .nav__links li {
        height: 4rem;
        width: 100%;
        animation: navAnimation 600ms ease forwards;
        transform: rotateX(90deg);
        opacity: 0;
        transform-origin: top;
    }
    .nav__links li:nth-child(2) {
        animation-delay: 300ms;
    }

    .nav__links li:nth-child(3) {
        animation-delay: 600ms;
    }

    @keyframes navAnimation {
        to {
            transform: rotateX(0);
            opacity: 1;
        }
    }
}