.user__div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 2px 4px 5px 1px rgba(0,0,0,0.3);
    gap: 1rem;
}

.user__div h3{
    font-weight: bold;
}

.p__user__desc{
    font-weight: bold;
    color: var(--color-gray-dark);
}


