.my__events__container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 3rem;
  color: var(--accent-color);
}

.my__events__title {
  letter-spacing: 0.1px;
}

.hide__link {
  display: none;
}

@media screen and (max-width: 1024px) {
  .my__events__container {
    grid-template-columns: 1fr;
  }
  h2 {
    font-size: 4px;
  }
}
