@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --color-gray-light: #bababa;
  --color-gray-medium: #767676;
  --color-gray-light-transparent: #bababa68;
  --color-black-transparent: #00000080;
  --color-gray-dark: #414141;
  --accent-color: #000c4b;
  --accent-color-dark: #000d36;

  --accent-color-light: #002288;
  --color-white: #fff;
  --container-width-lg: 80%;
  --container-width-md: 90%;
  --transition: all 500ms ease;
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #000;
  line-height: 1.7;
  overflow-x: hidden;
  background: var(--bg-color);
}

.container {
  width: var(--container-width-lg);
  max-width: 1920px;
  margin-inline: auto;
}

section {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  color: var(--accent-color);
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -2.2px;
  margin-bottom: 2rem;
}
h3 {
  font-size: 1.5rem;
}

a {
  color: var(--bg-color);
  font-weight: 600;
}

img {
  object-fit: cover;
  width: 100%;
}

p {
  word-wrap: break-word;
  color: var(--accent-color);
}

svg {
  font-size: 25px;
}

button {
  color: var(--color-white);
}

input{
  box-shadow: 2px 4px 5px 1px rgba(0, 0, 0, 0.3);
  text-indent: 4px;
  border-radius: 5px;
  height: 35px;
}

select{
  box-shadow: 2px 4px 5px 1px rgba(0, 0, 0, 0.3);
  background-color: var(--color-white);
  height: 35px;
  border-radius: 5px;
  padding-right: 2.4rem;
  text-indent: 4px;
}

.btn {
  width: fit-content;
  height: 42px;
  padding: 0.9rem 1.8rem;
  background: var(--accent-color);
  border-radius: 1rem;
  transition: var(--transition);
  display: flex;
  align-items: center;
  color: var(--color-white);
  font-weight: 600;
}

.btn.btn__input {
  height: auto;
  padding: 0;
  border-radius: 2px;
  padding-inline: 5px;
}

.btn.btn__input2 {
  height: auto;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--accent-color-light);
  color: var(--color-white);
}
.tech__icon{
  width: 2rem;
}

/*=========RESPONSIVE FOR TABLETS=============*/
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 2.6rem;
  }
}

/*=========RESPONSIVE FOR PHONES=============*/
@media screen and (max-width: 600px) {
  h1,
  h2 {
    font-size: 1.8rem;
    line-height: 1.3;
  }
}
